<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>ULTRAPROP</title>
  
  <link href="/css/jquery-ui-1.8.7.custom.css" rel="stylesheet" type="text/css" />
  <link href="/css/frontend.css" rel="stylesheet" type="text/css" />
  <link href="/css/common.css" rel="stylesheet" type="text/css" />
  <link href="/css/jqtransform.css" rel="stylesheet" type="text/css" />

  <script src="/js/jquery-1.4.4.min.js" type="text/javascript"></script>
  <script src="/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
  <script src="/js/utils.js" type="text/javascript"></script>
  <script src="/js/number-functions.js" type="text/javascript"></script>
  <script src="/js/jquery.jqtransform.js" type="text/javascript"></script>
  <script src="/js/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
  <script src="/js/jquery.fadeSliderToggle.js" type="text/javascript"></script>
  
  <script type="text/javascript" src="/js/jquery.scrollTo-1.4.2-min.js"></script>
  
  <!-- Ficha propiedad -->
  <script src="/js/jquery.multilists.plugin.js" type="text/javascript"></script>
  <link href="/css/jquery.ad-gallery.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/jquery.ad-gallery.js"></script>
  
  <!-- script src="/js/jcarousellite_1.0.1.js" type="text/javascript"></script -->
  <script src="/js/jquery.addplaceholder.js" type="text/javascript"></script>
  
  <style type="text/css">
  .geolocation_overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9998;
    background-color:#4e4e4e;
    display: block;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }
  </style>
  {%block head%}
  {%endblock%}  

  {%block js%}
    <script type="text/javascript">
      jQuery(document).ready(function() {
        //jQuery('[jqtransform|=true]').jqTransform();
        //////// ACCORDION //////////
        jQuery( "#accordion" ).accordion({ autoHeight: false });
        jQuery(".tab_content").hide();
        jQuery("#sidebar ul.tabs li:first").addClass("active").show();
        jQuery("#sidebar .tab_content:first").show();
        /*jQuery("ul.tabs li").click(function(){
          jQuery("ul.tabs li").removeClass("active");
          jQuery(this).addClass("active");
          jQuery(".tab_content").hide();
          var activeTab = jQuery(this).find("a").attr("href");
          jQuery(activeTab).show();
          return false;	
        });*/
        
        jQuery('input[placeholder]').addPlaceholder({ 'class': 'hint'}); //{dotextarea:false, class:hint}
  
      });
    </script>
  {%endblock%}  
  {% include "google_analytics.html" %}
  </head>

  <body class="frontend_search">
    
    <div class="geolocation_overlay" id="geolocation_overlay" style="display:none;">
    </div>
    <div class="geoBox top" id="geolocation_advice" style="display:none;">
      <div class="pointer"></div>
      <div class="message">
        <div class="btnClose close" onclick="return onGeolocationOverlayClose();"></div>
        <h1>Haga click en "Permitir"</h1>
          <p>Para que podamos ofrecerle propiedades próximas a su ubicación actual.</p>
      </div>
    </div>
    
  <!-- HEADER -->
  {%include "frontend/templates/header.html"%}
  <!-- CONTENT -->

    <div id="content"> 
      {%block sidebar%}
      <!-- LEFT COLUMN -->
      <div id="sidebar">
        <ul class="tabs">
          <li class="active"><a href="#results"  title="Resultados de la búsqueda de propiedades filtradas en la vista del mapa"> Resultados</a></li>
          <!--li><a href="#tab2" title="Mis búsquedas guardadas">Mis búsquedas</a></li-->
          <!--li class="none">
            <div class="btnDefault alert" title="Alertarme por mail cuando una propiedad nueva cumpla con los parámetros de búsqueda y locaclización de la vista" onclick="location.href='#3'">Conf. Alerta</div>
          </li-->
        </ul>
        
        <!-- TAB1 CONTENT -->
        <div id="results" class="tab_content"> 
          {%include "frontend/templates/tab1.html"%}
        </div>
      </div>
      {%endblock%}
      <!-- RIGHT COLUMN -->
      {%block main%}
      <div id="main">
        {%include "frontend/templates/link_popup.html"%}
        {%include "frontend/templates/filters.html"%}
        <div class="mainContent" id="tabs_container">
          {%include "frontend/templates/wintabs.html" %}
          
          {%include "frontend/templates/messages.html" %}
          <!-- LOADING -->
          <div id="loading_map" style="display:none;" class="loadingmap" title="Aguarde...">
            <img src="/img/misc/loader_b.gif" title="Aguarde..." />
          </div>

          <!-- div id="shadow-h"></div -->
          <div id="shadow-v"></div>
          {%include "frontend/templates/map.html" %}
        </div>
      </div>
      {%endblock%}  
    </div>

  </body>
</html>