  {% extends "frontend/_base.html"%}  
  
  {%block metas%}
    <title>ULTRAPROP - {{property|headlinify}} - {{property|addressify}}</title>
    <meta name="description" content="{{property|headlinify}}, {{property|addressify}}, {{ property | descriptify(cols=['rooms','bedrooms','bathrooms','area_indoor','area_outdoor']) }}. Inmobiliarias en Argentina, Departamentos en Buenos Aires, Argentina Alquiler y Venta de Propiedades. Argentina Inmobiliarias en Buenos Aires Zona Norte, Departamentos en alquiler en La Plata, Argentina Inmobiliarias La Plata. Inmobiliarias Zona Norte Buenos Aires. Propiedades en capital federal, Inmobiliarias en Buenos Aires y La Plata " />
    <meta name="keywords" content="departamentos argentina, departamento buenos aires, departamentos la plata, venta, alquiler, alquiler en la plata, argentina, inmobiliaria, inmobiliarias, inmobiliarias la plata, casas en venta, casa en venta en la plata, casa en venta zona norte" />
  

	<meta property="og:type" content="article" />
  <meta property="og:title" content="{{property|headlinify}} - {{property|addressify}}" />
	<meta property="og:description" content="{{property|headlinify}}, {{property|addressify}}, {{ property | descriptify(cols=['rooms','bedrooms','bathrooms','area_indoor','area_outdoor']) }}" />
	
        {% set _width  = 616 %}
        {% set _height = 462 %}
        {% for img in images %}
          {% if img.title %}
          	<meta property="og:image" content="{{img.title}}=s63-c" />
						<!-- IMAGEN PARA BTOTON COMPARTIR -->
  					<link rel="image_src" href="{{img.title}}=s63-c" />
  				{% endif %}
        {% endfor %}
        
  
  
  
  
  {%endblock%}
  
  {%block js%}
    <script src="/js/jquery.ketchup.js?v={{app_version_id}}" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      doKetchup(null);
      
      var iNoPhoto = jQuery('#detailBox li.nophoto').length;
      var galleries = jQuery('.ad-gallery').adGallery({width: '616px',height: '463px'});
      $('#detailBox #switch-effect').change(
        function() {
          galleries[0].settings.effect = $(this).val();
          return false;
        }
      );
      
      //Hackeo si no tiene fotos (oculto).
      if(iNoPhoto>0)
      {
        jQuery('div.ad-thumbs').css('display', 'none');
      }
    });
    </script>
  {% endblock %}  
  
  {% block body %}
  
    <body class="frontend_search" style="overflow-y:auto;">
      {% set ficha = 1 %}
      {%include "frontend/templates/header.html"%}
      <div id="content" class="ficha_content" > 
        {%include "frontend/templates/_ficha_robot.html"%}
      </div>
    </body>
  {% endblock %}