  {% extends "frontend/_base.html"%}  
  
  {%block metas%}
    <title>ULTRAPROP - Red de inmobiliarias</title>
    <meta name="description" content="Inmobiliarias que forman parte de ULTRAPROP " />
    <meta name="keywords" content="ULTRAPROP, red, inmobiliaria" />
  {%endblock%}
  
  
  {% block body %}
  
    <body class="frontend_search" style="overflow-y:auto;">
      {% set ficha = 1 %}
      {%include "frontend/templates/header.html"%}
      <div id="content" class="ficha_content" > 
        <div class="innerContent detail" >
          <h1>Inmobiliarias de la Red ULTRAPROP</h1>
          <br/>
          {% for realestate in realestates %}
          {% for xx in range(2) %}
            <div id="agent_info" class="agentbox" style="width: 480px;float: left;">
              {% if realestate.logo_url %}
                <img class="logo" src="{{realestate.logo_url+'=s230'}}" style="max-width:230px;max-height:80px;" title="{{realestate.name}}"/>
              {% else %}
                <div style="width:230px;height:80px;float:left;"></div>
              {% endif %}
              <div class="data">
                <h1>{{realestate.name}}</h1>
                <span>{{realestate.address if realestate.address else ''}}</span><br/>
                <span>{{realestate.telephone_number if realestate.telephone_number else ''}}</span><br/>
                {% if realestate.domain_id %}
                                                                                       
                  <a href="{{realestate|realestate_linkfy}}" target="_blank" title="Enlace de {{realestate.name}} en Ultraprop"/><b>{{realestate.name|truncate(length=19, killwords=True)}}</b> en Ultraprop<br/>
                {% endif %}
                {% if realestate.website and realestate.website|wordcount>0 %}
                  <a href="{{'%s%s'|format('http://',realestate.website) if 'http://' not in realestate.website else realestate.website }}" target="_blank">{{realestate.website}}</a><br/>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </body>
  {% endblock %}