  {% extends "frontend/_base.html"%}  
  
  {%block metas%}
    <title>ULTRAPROP - Inmobiliarias que forman parte de ULTRAPROP</title>
    <meta name="description" content="Inmobiliarias que forman parte de ULTRAPROP " />
    <meta name="keywords" content="ULTRAPROP, red, inmobiliaria" />
  {%endblock%}
  
  
  {% block body %}
  <body class="frontend_common" style="background:#fff;">
    <div id="container" align="center">
        <!-- /// Container 960 /// -->
        <div id="content" align="left">
          <!-- /// HEADER /// -->
          <div id="header">
            <a href="/" title="Página de inicio de UltraProp">
              <img class="logo" src="/img/pixel-transp.gif" />
            </a>
            {%include "frontend/templates/header_links.html"%}
          </div>
          <div style="padding:15px; padding-left:20px; overflow:hidden; background: none repeat scroll 0 0 #E4F1FF;border: 1px solid #99C7F8;">
          	<div style="float:left; width:600px;">
                <h1>Inmobiliarias de la Red ULTRAPROP</h1>
                <p style="font-size:14px; margin-top:15px;">
                Regístrese y comience a publicar sus inmuebles y obtenga su página web propia.<!--, aparecerá en los listados de inmobiliarias e inmuebles de La Plata.-->
                <br /><br /><br />
                Haga <a href="admin/signup">click aquí</a> para conocer más acerca de nuestros servicios.
                </p>
            </div>
            <div style="float:right;">
            	<a href="admin/signup"><img src="/img/banners/publicar.gif" /></a>
            </div>
          </div>
          <h2 style="margin-left:20px; margin-top:15px;">Las siguientes inmobiliarias ya nos eligieron </h2>
          <br/>
              {% for realestate in realestates %}
                {% if not realestate.is_tester and realestate.enable==1 %}
                <div id="agent_info" class="agentbox" style="width: 460px;float: left; margin-right:20px;">
                  <div style="width:130px;height:80px;float:left; margin-right:15px;">
                  {% if realestate.logo_url %}
                    <img class="logo" src="{{realestate.logo_url+'=s130'}}" style="max-width:130px;max-height:80px;" title="{{realestate.name}}"/>
                  {% endif %}
                  </div>
                  <div class="data" style="width:288px">
                    <h1>{{realestate.name}}</h1>
                    <span>{{realestate.address if realestate.address else ''}}</span><br/>
                    <span>{{realestate.telephone_number if realestate.telephone_number else ''}}</span><br/>
                    {% if realestate.website and realestate.website|wordcount>0 %}
                      <a href="{{'%s%s'|format('http://',realestate.website) if 'http://' not in realestate.website else realestate.website }}" target="_blank">{{realestate.website}}</a><br/>
                    {% endif %}
                    <a href="{{realestate|realestate_linkfy}}" target="_blank" title="{{realestate.name}} en Ultraprop">www.ultraprop.com.ar{{realestate|realestate_linkfy}}</a><br/>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
              <div class="agentbox" style="width: 460px;float: left; margin-right:20px;">&nbsp;</div>
        </div>
        
        <div id="footer">
          <div class="top_search">
            <h3>Inmuebles en la red: búsquedas sugeridas</h3>
            <div>
            <ul class="lnk_search">
              <div>Por tipo de propiedad, operación y zona</div>
              <li><a href="/mapa/casas-en-venta-en-la-plata/73007"> Casas en Venta en La Plata </a></li>
              <li><a href="/mapa/casas-en-venta-en-gonnet/73006"> Casas en Venta en Gonnet </a></li>
              <li><a href="/mapa/casas-en-venta-en-city-bell/40020"> Casas en Venta en City Bell</a></li>
              <li><a href="/mapa/casas-en-venta-en-tolosa-y-ringuelet/72007" title="Casas en Venta en Tolosa y Ringuelet">Casas en Venta en Tolosa</a>
              </li>
              
              <li><a href="/mapa/departamentos-en-venta-en-zona-norte/72008"> Departamentos en Venta en Zona Norte</a></li>
              <li><a href="/mapa/departamentos-en-venta-en-la-plata/74002"> Departamentos en venta en La Plata</a></li>
              <li><a href="/mapa/departamentos-en-venta-en-gonnet/74003"> Departamentos en Venta en Gonnet </a></li>
              <li><a href="/mapa/departamentos-en-venta-en-city-bell/54106"> Deptos. en Venta en City Bell</a></li>
              <li><a href="/mapa/departamentos-en-venta-en-tolosa-y-ringuelet/54105" title="Departamentos en Venta en Tolosa y Ringuelet">Departamentos en Venta en Tolosa</a></li>
              <li><a href="/mapa/departamentos-en-alquiler-en-la-plata/40019" title="Departamentos en Alquiler en La Plata"> Deptos. en Alquiler en La Plata </a></li>
              <li><a href="/mapa/departamentos-en-alquiler-en-gonnet/76004" title="Departamentos en Alquiler en Gonnet"> Deptos. en Alquiler en Gonnet </a></li>
              <li><a href="/mapa/departamentos-en-alquiler-en-city-bell/76003" title="Departamentos en Alquiler en City Bell"> Deptos. en Alquiler en City Bell</a></li>
              <li><a href="/mapa/departamentos-en-alquiler-en-tolosa-y-ringuelet/76005" title="Departamentos en Alquiler en Tolosa y Ringuelet"> Deptos. en Alquiler en Tolosa</a></li>
              <li><a href="/mapa/locales-y-oficinas-en-venta-en-la-plata/40021"> Locales y Oficinas en Venta en La Plata </a></li>
              <li><a href="/mapa/locales-en-alquiler-en-city-bell/73008"> Locales en Alquiler en City Bell </a></li>
              <li><a href="/mapa/casas-en-venta-en-zona-norte/75003"> Casas en Venta en Zona Norte</a></li>
              
            </ul>
            </div>
          </div>
          <p class="skill">ULTRAPROP es el portal inmobiliario líder en oferta de inmuebles en La Plata, Gran La Plata y Buenos Aires Zona Norte.
            ULTRAPROP es la primer aplicación web en utilizar un sistema de Geolocalización Real en Latinoamérica, esto quiere decir que con sólo ubicar 
            una zona en el mapa, automáticamente se muestra la oferta disponible.<br/> 
            Encuentre la mayor oferta de propiedades filtradas por venta y alquiler de departamentos, casas, PH, oficinas, locales comerciales, fondos de comercio, galpones, consultorios, casa en country o barrio privado, quintas, lotes y terrenos, cocheras y mucho más. <br> 
            En ULTRAPROP solamente hay que seleccionar la zona de interés en el mapa para conocer la oferta disponible de casas en alquiler, casas en venta, departamentos en alquiler en La Plata, terrenos en Gonnet, terrenos en City Bell, casas en Zona Norte, Vicente López, Florida, Olivos, La Lucila, Martínez, Acasusso, San Isidro y mucho más.  
          </p>
          <!-- Foot -->
          <div class="foot">
            <img class="logo_foot" src="/img/pixel-transp.gif" alt="Ultraprop" />
            <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y la Política de Privacidad de ultraprop.com.ar.<br/>
            Copyright © 2011 - Todos los derechos reservados. Protección de Datos Personales.</p>       
          </div>
        </div>
    </div>
        
        
        
        
        
        
        
        
    </div>
    {% include "frontend/help.html" %}
  </body>



  {% endblock %}