{% extends "realestate/_base.html" %}

{% block content %}
	<div class="searchbox_area">
    <div id="searchbox_home">
      	<!-- INSTITUTIONAL AREA -->
        <div class="txt_welcome">
            <h2>{{ realestate.tpl_title if realestate.tpl_title else '--título institucional--' }}</h2>
            <h4>{{ realestate.tpl_text if realestate.tpl_text else '--texto institucional--' }}</h4>
         </div>
         {%include "realestate/includes/_searchbox_home.html"%}
	    </div>
	</div> 
    
    <!-- ///// CONTENT ///// -->
    <div id="content" class="home">

        <div id="right_content" class="home"> 
          <div id="center_column_home">
              <h3 class="section">Últimos Inmuebles</h3>
              {% for property in properties %}
                {% set last='last' if loop.index==loop.count else ''%}
                {%include "realestate/includes/mod_property_home.html"%}
              {% endfor %}
          </div>
          
          <!--div id="right_column_home">
              <h3 class="section">Noticias del sector</h3>
              {# %include "realestate/includes/mod_news.html"% #}
          </div-->
        </div>
        
        <div id="left_content" class="home">
          <ul>
            <li class="address">
                <h2 style="padding-bottom: 8px; margin-top: 5px;">{{realestate.name}}</h2>
                <p>{% if realestate.address %} Visítenos en {{realestate.address}}.{% endif %}</p>
            </li>
            <li class="phone">
                <p>Llámenos al</p>
                <h2>{{realestate.telephone_number if realestate.telephone_number else ''}}</h2>
            </li>
            <li class="email">
                <p><a href="{{url_for('realestate/info', realestate=realestate.key()|string)}}">Para mayor información contáctenos vía email</a></p>
            </li>
          </ul>
        </div>
        
    </div>
{% endblock %}