{% extends "realestate/_base.html" %}

{% block content %}

    <div id="searchbox_home">
    
      <!-- INSTITUTIONAL AREA -->
      <div class="txt_welcome" style="position:relative;">
          <div style="position:absolute;bottom:0;background:url(/re/img/city.png) repeat-x;height:150px;width:100%;left:-20px"></div>
          <h2>{{ realestate.tpl_title if realestate.tpl_title else '--título institucional--' }}</h2>
          <h4>{{ realestate.tpl_text if realestate.tpl_text else '--texto institucional--' }}</h4>
          <div style="position:absolute; top:0px;right:0px;">
            {%include "realestate/includes/_property_list_menu_left_min.html"%}
          <!-- ul class="property_type" -->
          </div>
      </div>
      
    </div> 
    
    <!-- ///// CONTENT ///// -->
    <div id="content" style="padding:10px 0; overflow:hidden;">
        <div id="left_content"> 
              <h2 style="padding-bottom: 8px;margin-bottom: 25px;margin-top: 5px;">{{realestate.name}}</h2>
              <p>Visítenos en {{realestate.address}}.</p>
              <hr />
              <p>Llámenos al</p>
              <h2>{{realestate.telephone_number}}</h2>
              <hr />
              <p>O escríbanos a</p>
              <h3>{{realestate.email}}</h3>
        </div>
        
        <div id="right_content"> 
          <div id="center_column_home">
              <h3 class="section">Últimos Inmuebles</h3>
              {% for property in properties %}
                {% set last='last' if loop.index==loop.count else ''%}
                {%include "realestate/includes/mod_property_home.html"%}
              {% endfor %}
          </div>
          
          <!--div id="right_column_home">
              <h3 class="section">Noticias del sector</h3>
              {# %include "realestate/includes/mod_news.html"% #}
          </div-->
        </div>
        
    </div>
{% endblock %}