{% extends "backend/_base.html" %}

{% block menuleft %} 
<!--div id="mnuLeft">
  
</div--> 
{% endblock %}

{% block headscript %} 
<script type="text/javascript">
$(document).ready(function() {
  setTimeout("hideFlashMessageSlow()", 5000);
});
</script> 
{% endblock %}

{% block content %}

<h1 style="margin-bottom:20px;">Ayuda</h1>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30%" style="padding-right:10px">
        <div class="box">
          <h2>Encuesta</h2>
          <div class="block_info">
                Estamos trabajando día a día para incorporar nuevas funcionalidades.<br />
                Indique cual de ellas considera más importante.
            </div>


<table class="poll">
  <tr>
    <td class="radio"><input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0" /></td>
    <td>
    <h4>Inmobiliarias Amigas</h4>
    <p>Esta herramienta le permitirá compartir su oferta inmobiliaria con sus colegas de confianza, ampliando la exposición y llegando así a un público exponencialmente masivo.</p>
    </td>
  </tr>
  
  <tr>
    <td class="radio"><input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1" /></td>
    <td>
		<h4>Búsquedas en modo lista</h4>
        <p>Mostrar los resultados de búsqueda en modo lista, además del modo mapa ya implementado.</p>
    </td>
  </tr>
  
  <tr>
    <td radio><input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" /></td>
    <td>
		<h4>Página de inicio</h4>
        <p>Nuevo look para su página web propia, se mostrarán inmuebles destacados, buscador de propiedades, textos institucionales personalisados y links a tasaciones y contactos.</p>
    </td>
  </tr>
  
  <tr>
  	<td></td>
    <td><input type="submit" class="btnWizard" name="" value="Enviar"></td>
  </tr>
  
</table>


        </div>

        <div class="box">
            <h2>Sugerencias</h2>
            <div class="block_info">
                Considero que a ULTRAPROP le falta...
            </div>
        </div> 
    </td>
    <td style="padding:0 10px">
		<div class="box">
	<h2>Consultas</h2>
    <div class="block_info">
    	Contáctenos mediante el siguiente formulario y nos comunicaremos a la brevedad.
    </div>

    <div class="contactbox">  
		<div class="contact_form">
        	<h3>{{session['account.realestate.name']}}</h3>
        	<label>Su Nombre <em>(A quién se debe contactar por esta consulta?)</em></label>
            <input type="text" value="" placeholder="nombre" name="name" id="name" class="name">
            
            <label>Su Email </label>
            <input type="text" value="" placeholder="email" name="email" id="email">
            
            <label>Su teléfono <em>(Preferentemente número de interno o directo)</em></label>
            <input type="text" value="" placeholder="cód.area número" name="telephone" id="telephone">
            
            <label>Asunto</label>
            <input type="text" value="" placeholder="asunto" name="subject" id="subject">
            
            <label>Comentario</label>
            <textarea placeholder="comentario" name="message" id="message"></textarea>
            
            <input type="submit" class="btnWizard" name="" value="Enviar consulta">
        </div>
    </div>

</div> 
    </td>
    <td width="30%" style="padding-left:10px">
    	<div class="box">
	<h2>Necesita Ayuda?</h2>
    <div class="block_info">
    	Póngase en contacto de la siguiente manera:
    </div>

    <div class="contactbox">  
        <h3>Consultas técnicas</h3>
        <dl class="contact">
            <dt><img src="/img/icons/telephone.png" /></dt>
            <dd>[011] 4857-9235</dd>
            
            <dt><img src="/img/icons/send.gif" /></dt>
            <dd><a href="mailto:ayuda@ultraprop.com.ar">ayuda@ultraprop.com.ar</a></dd>
        </dl>
    </div>

    <div class="contactbox"> 
        <h3>La Plata </h3>
        <h4>Emilio Maull</h4>
        <dl class="contact">
            <dt><img src="/img/icons/telephone.png" /></dt>
            <dd>[0221] 466-0162</dd>
            
            <dt style="width:30px;"><img src="/img/icons/skype.png" /></dt>
            <dd>maullemilio</dd>
            
            <dt><img src="/img/icons/send.gif" /></dt>
            <dd><a href="mailto:emilio@ultraprop.com.ar">emilio@ultraprop.com.ar</a></dd>
        </dl>
    </div>
    
    <div class="contactbox">  
        <h3>Capital Federal</h3>
        <h4>Pablo Tutino</h4>
        <dl class="contact">
            <dt><img src="/img/icons/mobile_phone.png" /></dt>
            <dd>[011] 15 3127-2458</dd>
            
            <dt style="width:30px;"><img src="/img/icons/skype.png" /></dt>
            <dd>pablo.tutino</dd>
            
            <dt><img src="/img/icons/send.gif" /></dt>
            <dd><a href="mailto:pablo@ultraprop.com.ar">pablo@ultraprop.com.ar</a></dd>
        </dl>
    </div>

</div>    
    </td>
  </tr>
</table>




{% endblock %}