{% extends "backend/_base.html" %}

{% block menuleft %}
{% include "backend/includes/property_list_menu_left.html" %}
{% endblock %}

{% block headscript %}
<script type="text/javascript">
$(document).ready(function() {
  $('#prop_operation_id').change( function(e) {
    var hide = $('#prop_operation_id').val() != 0;
    
    $('#cosas').toggle(hide);
  });
  
  $('#fake_sort').change( function(e) {
    $('#sort').val( $('#fake_sort').val() );
    $('form#filter').submit();
  });
  
  $('#apply').click( function(e) {
    $('form#filter').submit();
  });
  
  $('#prop_type, #currency, #rooms, #area_indoor').change( function(e) {
    $('form#filter').submit();
  });

  
  $('#nprop').click( function(e) {
    window.location = '{{url_for('property/new')}}';
  });
  
  $('a.selall, a.dselall').click( function(e) {
    var on = $(this).hasClass('selall');
    $('input[type=checkbox].chkprop').each( function(i,field) {
      $(field).attr('checked', on ? 'checked' : false);
      //$('#alink_' + field.id).toggleClass('jqTransformChecked', on);
    })
    return false;
  });
  
  $('a.delsel, a.ressel').click( function(e) {
    var sel = 'input[type=checkbox].chkprop:checked';
    var del = $(this).hasClass('delsel');
    var question = 'Esta seguro que desea ' + ( del ? 'borrar' : 'recuperar') + ' estas propiedades?';
    if ( $(sel).length && confirm(question) )
    {
      $('#newstatus').val( del ? {{Property._DELETED}} : {{Property._NOT_PUBLISHED}} )
      $('form#remove').submit();
    }
    return false;
  });
  
  $('a.restorer').click( function(e) {
    e.preventDefault();
    if( confirm('Esta seguro que desea recuperar esta propiedad? Aparecera como NO publicada.') )
    {
      $(this).addClass('disable');
      var link = $(this);
      $.ajax({
        url:  $(this).attr('href'),
        type: "GET",
        success: function(res) {
          link.parent().parent().fadeOut("slow", function() {
            $(this).remove();
          });
        },
        error: function(xml, txt, err) {
          alert('error');
          $(this).removeClass('disable');
        } 
      }); 
    }
    
    return false;
  });
  
  $('a.publisher').click( function(e) {
    e.preventDefault();
    var status = $(this).attr('published');
    var action = status == 1 ? 'desactivar' : 'publicar';
    
    var explain;

    if( action == 'desactivar' )
      explain = 'La propiedad no sera visible en las busquedas de los usuario.';
    else
      explain = 'La propiedad sera visible en las busquedas de los usuarios.';
    
    var question = 'Esta seguro que desea ' + action + ' esta propiedad?';
    
    if( confirm(explain+question) )
    {
      $(this).addClass('disable');
      var link = $(this);
      $.ajax({
        url:  $(this).attr('href'),
        type: "GET",
        success: function(res) {
          link.parent().parent().fadeOut("slow", function() {
            $(this).remove();
          });
        },
        error: function(xml, txt, err) {
          alert('error');
          $(this).removeClass('disable');
        } 
      }); 
    }
    return false;
  });

});
</script>
{% endblock %}

{% block content %}

	<h1>Propiedades {{ form.status.data | statusfy }}</h1>
  {% if form.status.data == Property._DELETED %}
  <p class="msg_warning" align="center"><span class="title">
  Las propiedades eliminadas tienen una vigencia de 30 días, luego serán definitivamente borradas.
</span>
</p>
  {% endif %}
  {% if flash %}
  <div class="msg_{{flash.type}}">{{flash.message}}</div>
  {% endif %}

    
  <!-- PROP LIST-->  
  {% for property in properties %}
  {% if loop.first %} 
  
	<div id="sort_by">
    <div class="sortbox">
       <label>Ordenar por</label> 
       {{ form.sort(id='fake_sort') }}
    </div>
    <div class="button add" id="nprop"><a href="{{url_for('property/new')}}"></a>Nueva Propiedad</div>
  </div>
  <form id="remove" method="POST" action="{{url_for('property/bulkremove')}}">
  <input id="newstatus" type="hidden" name="newstatus" value="0"/>
  <input type="hidden" name="page" value="{{page}}"/>
  {% include "backend/includes/nav_prop_list.html" %}
  {% endif %}
  {% include "backend/includes/prop_list.html" %}
  {% if loop.last %} 
  </form>
  <div class="h_last"></div>
  {% include "backend/includes/nav_prop_list.html" %}
  {% endif %}
  {% else %}
  <div class="divider"></div>
  <div class="noelement proplist txt">
  	<span>No se encontraron propiedades</span>
  </div>
  {% if form.status.data == Property._PUBLISHED %}
  <div class="divider_h"></div>
  <div class="btnBig" onclick="location.href='{{url_for('property/new')}}'"><a href="#"></a>Nueva Propiedad</div>
  {% endif %}
  {% endfor %}
  
  
  <!-- NAV BUTTONS -->
  <!--div class="btnUpload" style="width:180px;" onclick="location.href='index.php'">
  <a href="#"></a>
  Nuevo Inmueble
  </div-->
  
  

  
{% endblock %}