{% extends "backend/_base.html" %}

{% block menuleft %} 
<!--div id="mnuLeft">
  
</div--> 
{% endblock %}

{% block headscript %} 
<script type="text/javascript">
$(document).ready(function() {
  //setTimeout("hideFlashMessageSlow()", 5000);
});
</script> 
{% endblock %}

{% block content %}

<h1 style="margin-bottom:20px;">Red ULTRAPROP</h1>
<ul class="tabs_admin">
  <li><a href="#">Red ULTRAPROP</a></li>
  <li><a href="#">Solicitudes</a></li>
  <li class="active"> <a href="javascript:alert('Debe guardar la propiedad para subir las fotos')">Buscar inmobiliarias</a> </li>
</ul>
{% if flash %}
  <div class="msg_{{flash.type}}" id="flash_message"><b>{{flash.message}}</b></div>
{% endif %}
<!--div class="uibutton-toolbar picture" style="margin-bottom:5px; margin-top:10px;"> <span class="label">Seleccionar:</span>
  <div class="uibutton-group"> <a id="selectall" class="uibutton" href="#">Todo</a> <a id="deselectall"class="uibutton" href="#">Nada</a> </div>
  <a id="delselected" class="uibutton" href="#">Eliminar</a>
  <input style="float:right;" name="" type="text" placeholder="Escriba un nombre" />
  <img id="wait" src="/img/ajax-loader.gif" style="display:none"/> </div-->
  
  
  
<div class="ln-letters">
    <!--a href="#" class="all ln-selected">TODO</a-->
    <a href="#" class="all">TODO</a>
    <a href="#" class="a">A</a>
    <a href="#" class="b">B</a>
    <a href="#" class="c">C</a>
    <a href="#" class="d">D</a>
    <a href="#" class="e">E</a>
    <a href="#" class="f">F</a>
    <!--a href="#" class="g ln-disabled">G</a-->
    <a href="#" class="g">G</a>
    <a href="#" class="h">H</a>
    <a href="#" class="i">I</a>
    <a href="#" class="j">J</a>
    <a href="#" class="k">K</a>
    <a href="#" class="l">L</a>
    <a href="#" class="m">M</a>
    <a href="#" class="n">N</a>
    <a href="#" class="o">O</a>
    <a href="#" class="p">P</a>
    <a href="#" class="q">Q</a>
    <a href="#" class="r">R</a>
    <a href="#" class="s">S</a>
    <a href="#" class="t">T</a>
    <a href="#" class="u">U</a>
    <a href="#" class="v">V</a>
    <a href="#" class="w">W</a>
    <a href="#" class="x">X</a>
    <a href="#" class="y">Y</a>
    <a href="#" class="z ln-last">Z</a>
</div>

<div class="viewPicBox">
  <ul id="masterpic" class="picturebox_admin">
    {% for realestate in realestates %}
    <li>
      <div style="width:160px; height:120px" id="imgbox"> 
        <div class="agentbox" style="width: 160px;float: left; margin-right:20px;">
          <div style="width:160px;height:120px;display: table-cell; vertical-align: middle;">
            {% if realestate.logo_url %}
              <img class="logo" src="{{realestate.logo_url+'=s160'}}" style="max-width:160px;max-height:120px;" title="{{realestate.name}}"/> 
            {% else %}
              <div style="width:160px;height:120px;float:left;"></div>
            {% endif %} 
          </div>
          <div class="data" style="width:160px;test-align:left;">
            <h3>{{realestate.name}}</h3>
            <span>{{realestate.address if realestate.address else ''}}</span><br/>
            <span>{{realestate.telephone_number if realestate.telephone_number else ''}}</span><br/>
            {% if realestate.website and realestate.website|wordcount>0 %}
              <a href="{{'%s%s'|format('http://',realestate.website) if 'http://' not in realestate.website else realestate.website }}" target="_blank" title="Sitio web de {{realestate.name}}">{{realestate.website}}</a><br/>
            {% else %}
              <br/>
            {% endif %}
            <a href="{{realestate|realestate_linkfy}}" target="_blank" title="{{realestate.name}} en Ultraprop">www.ultraprop.com.ar{{realestate|realestate_linkfy}}</a><br/>
            <p>{{ realestate|ownerify}}</p>
          </div>
        </div>
      </div>
      <div class="ex-label" title="Seleccionar para pedir amistad">
        <input type="checkbox"/> <b>Agregar a mi grupo</b>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<span id="addphoto"></span> 
<br/>
<center>
  <div style="margin:10px 0; border-top: dotted 1px #ccc;"></div>
  <a href="#" style="border:none;">
    <img src="/img/friends.gif" width="243" height="61" /> 
  </a>
</center>

{% endblock %}