{% extends "backend/_base2.html" %}

{% block headscript %}
  <script type="text/javascript">
  $(document).ready(function() {
    jQuery('#password').keyup(function(){
      var pwd_len = jQuery('#password').val().length;
      var textos = ['Muy bajo', 'Bajo', 'Regular', 'Alto', 'Muy alto'];
      var pwd_index = 1;
      if(pwd_len>6)
      {
        if (pwd_len>=7&pwd_len<=8)
          pwd_index = 2;
        else if (pwd_len>=9&pwd_len<=10)
          pwd_index = 3;
        else if (pwd_len>=11&pwd_len<=12)
          pwd_index = 4;
        else if (pwd_len>=13)
          pwd_index = 5;
      }
      jQuery('div.progressbar.password p').html(textos[pwd_index-1]);
      jQuery('div.progressbar.password div.point').removeClass('level1').removeClass('level2').removeClass('level3').removeClass('level4').removeClass('level5').addClass('level'+pwd_index);
      checkPasswords();
      return true;
    });
    
    jQuery('#confirm_password').keyup(function(){checkPasswords();return true;});
  });
  function checkPasswords(){
    if(jQuery('#confirm_password').val()!=jQuery('#password').val())
    {
      jQuery('#password_unequal').show();
      return false;
    }
    jQuery('#password_unequal').hide();
  }
  </script>

{% endblock %}

{% block content %}
<div id="login_container" class="login_window">
	<div class="popup restore">
    	<div id="login" class="popup_box" align="left">
        <form action="{{url_for('backend/auth/restore', key=key)}}" method="post">
          <div class="restorebox">
            <h1>Restablecer Contraseña</h1>
              <p class="inputbox"> 
                  <span class="field">
                    <label>Email</label><input class="xg long right" name="useremail" type="text" readonly value="{{email}}" placeholder="Email" />
                  </span> 
              </p>
              <p class="inputbox"> 
                  <span class="field">
                    <label>Nueva Contraseña</label>
                    <input class="xg long right" name="password" id="password" type="password" placeholder="Contraseña"/>
                  </span> 
              </p>
              <p class="inputbox"> 
                  <span class="field">
                    <label>Confirmar Contraseña 
                      <a href="#" class="btnIcon" id="password_unequal" style="display:none;" title="Verifique que las contraseñas sean iguales">
                        <img src="/img/icons/delete.png" />
                      </a>
                    </label>
                    <input class="xg long right" name="confirm" id="confirm_password" type="password" placeholder="Confirme contraseña" />
                  </span> 
              </p>
              <!--a class="fancy_button restore" href="#"><span>RESTABLECER CONTRASEÑA</span></a-->
              <a href="#" class="fancy_button restore"><input type="submit" value="RESTABLECER CONTRASEÑA" name=""></a>
          </div>
        </form>
		</div>
    </div>
</div>
{% endblock %}