{% extends "backend/_base2.html" %}

{%- macro form_field(field, label='', class='') -%}
	<div class="field">
    <div class="input_label">{{label}}</div>
    {{ field(class=class+(' error' if field.errors else '')  , **kwargs) }}
    {% if field.name == 'confirm' %}
      <a href="#" class="btnIcon" id="password_unequal" style="display:none;position:absolute;top:13px;right:0px;" title="Verifique que las contraseñas sean iguales">
        <img src="/img/icons/delete.png" />
      </a>
    {% endif %}
  </div> 
  {% if field.errors %}
    <p style="margin-left:6px;" class="error">{{ field.errors.0 }}</p>
  {% endif %}
{%- endmacro -%}

{% block headscript %}
  <script type="text/javascript">
  $(document).ready(function() {
    jQuery('#password').keyup(function(){
      var pwd_len = jQuery('#password').val().length;
      var textos = ['Muy bajo', 'Bajo', 'Regular', 'Alto', 'Muy alto'];
      var pwd_index = 1;
      if(pwd_len>6)
      {
        if (pwd_len>=7&pwd_len<=8)
          pwd_index = 2;
        else if (pwd_len>=9&pwd_len<=10)
          pwd_index = 3;
        else if (pwd_len>=11&pwd_len<=12)
          pwd_index = 4;
        else if (pwd_len>=13)
          pwd_index = 5;
      }
      jQuery('div.progressbar.password p').html(textos[pwd_index-1]);
      jQuery('div.progressbar.password div.point').removeClass('level1').removeClass('level2').removeClass('level3').removeClass('level4').removeClass('level5').addClass('level'+pwd_index);
      checkPasswords();
      return true;
    });
    
    jQuery('#confirm_password').keyup(function(){checkPasswords();return true;});
    
  });
  function checkPasswords(){
    if(jQuery('#confirm_password').val()!=jQuery('#password').val())
    {
      jQuery('#password_unequal').show();
      return false;
    }
    jQuery('#password_unequal').hide();
  }
  </script>
  <script type="text/javascript" src="/js/jquery.ketchup.js"></script>
  <script type="text/javascript" src="/js/jquery.ketchup.run.js"></script>
{% endblock %}

{% block content %}

  <table width="960" border="0" cellpadding="0" cellspacing="0"  align="center">
    <tr>
      <td width="50%" align="center" style="padding-top:20px;" valign="top">
        <img src="/img/dashboard.jpg" width="343" height="269" />
        <ul class="skills">
          <li>Inmuebles ilimitados</li>
          <li>Fotos ilimitadas</li>
          <li>Web propia y dominio.com<em>(Sujeta a disponibilidad)</em><p class="detail">Sólida, robusta y confiable, garantía 100% en el aire.</p></li>
        </ul>
      </td>
      <td align="center" valign="top" style="padding-top:20px; border-left: dotted 1px #000; " >
      <!-- INICIA EL FORM -->
        <div id="login_container" class="login_window" style="padding-top:0;">
          <div class="popup" style="border:none; width: 400px; text-align:left;">
            <div id="login" class="popup_box" style="padding:0;"> 
              <h1 style="font-size:24px; margin-left:5px;">Registre su Inmobiliaria</h1>
              <h2 style="color:#0A5278; font-weight:normal; margin-left:5px;">Es Fácil y Rápido</h2>
              {# % if flash %}
                <div class="msg_{{flash.type}}"><b>{{flash.message}}</b></div>
              {% endif % #}
              <form id="signup_form" action="{{url_for('backend/auth/signup')}}" method="post" style="margin-right:15px;width:400px;">
                <!-- ///// IDENTITY ///// -->    
                <div class="first {{ 'errorbox' if form.name.errors else '' }}"> 
                  {{ form_field(form.name, label='nombre' , class="xg long", placeholder="Nombre de la Inmobiliaria") }}
                </div>
                <div class="{{ 'errorbox' if form.email.errors else '' }}"> 
                  {{ form_field(form.email, label='email', class="xg long", placeholder="Correo electrónico") }}
                </div>
                <div class="{{ 'errorbox' if form.password.errors else '' }}"> 
                  {{ form_field(form.password, label='contraseña',  class="xg long", placeholder="Contraseña", id="password") }}
                </div>
                <div class="last {{ 'errorbox' if form.confirm.errors else '' }}"> 
                  {{ form_field(form.confirm, label='repetir', class="xg long", placeholder="Repetir contraseña", placeholder="Repetir contraseña", id="confirm_password") }}
                </div>
                {{form.ketchup(id='ketchup')}}
                <div class="navButtons" style="text-align:left;">
                  <a href="#" class="fancy_button login"><input type="submit" value="REGISTRARME" name="" class="btnWizard"></a>
                </div> 
              </form>  
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>


{% endblock  %}
