{% extends "backend/property.html" %}

{% block headscript %}
<script type="text/javascript" src="/js/swfupload.js"></script>
<script type="text/javascript" src="/js/plugins/swfupload.cookies.js"></script>
<script type="text/javascript">
var swfu      = null;
var changed   = false;
var working   = false;
var dragging  = false;
var saved_order;

function get_images_order()
{
  var tmp = Array();
  $("#masterpic>li").each( function(i, field) {
    tmp.push( $(field).attr('key') );
  });
  return tmp;
}

function update_percent(el, percent)
{
  $(el).find('div.point').width(percent);
  $(el).find('td.percent').html(percent);
}

function bind_pic_boxes()
{
  // Fucking IE7
  $('#imgbox>img').load( function() {
    if( $(this).attr('src') == $(this).attr('orig') )
      return false;
    
    $(this).attr('src', $(this).attr('orig'));
  });
  
  //Borrar imagen
  $('.btnClose').unbind('click');
  $('.btnClose').click( function() {
    $(this).parent().find(".confirm").show();
  });
  
  //Borrar imagen [NO]
  $('a.no').unbind('click');
  $('a.no').click( function() {
    $(this).parent().parent().hide();
  });
  
  //Borrar imagen [YES]
  $('a.yes').unbind('click');
  $('a.yes').click( function() {
    var div = $(this).parent().parent();
    var img = div.parent().find('div>img.propImg');
    var oldimg = img.attr('orig');
    img.attr('src', '/img/ajax-loader.gif');
    div.parent().find('.btnClose').hide();
    div.hide();
    
    $.ajax({
      url:  img.attr('delme'),
      type: "GET",
      success: function(res) {
        div.parent().fadeOut("slow", function() {
          $(this).remove();
          if( $('#masterpic>li').length < 2 && $('#drag_msg').is(':visible') )
            $('#drag_msg').fadeOut("slow");
        });
      },
      error: function(xml, txt, err) {
        div.parent().find('.btnClose').show();
        img.attr('src', oldimg);
      } 
    }); 
  });
  
  //Click en imagen
  $('.propImg').unbind('click');
  $('.propImg').click( function() {
    if( dragging ) 
      return false;
    $(this).parents('li').find('input[type=checkbox]').each( function(i, field) {
      if( $(field).attr('checked') )
        $(field).attr('checked', false);
      else
        $(field).attr('checked', 'checked');
    });
  });
}

$(document).ready(function() {
  
  //Tomamos el orden inicial de las imagenes
  saved_order = get_images_order();

  $('#selectall').click( function(e) {
    e.preventDefault();
    if ( working ) return false;
    $('input[type=checkbox]').attr('checked', 'checked');
  });  
  
  $('#deselectall').click( function(e) {
    e.preventDefault();
    if ( working ) return false;
    $('input[type=checkbox]').attr('checked', false);
  });
  
  $('#delselected').click( function(e) {
    e.preventDefault();
    if ( working ) return false;
    working = true;
    
    if( $("input:checked").length && confirm('Esta seguro que quiere borrar las imagenes seleccionadas?') == true )
    {
      var li = $('input:checked').parent().parent().parent();
      li.find('.propImg').attr('src','/img/ajax-loader.gif');

      var was_disabled = $('#reorder').hasClass('disable');
      $('a.uibutton').addClass('disable');

      function restore_del()
      {
        working = false;
        $('a.uibutton').removeClass('disable');
        if(was_disabled) $('#reorder').addClass('disable');
      }
      
      $.ajax({
        url:  '{{url_for('images/bulkremove', key=key)}}',
        type: "POST",
        data: $('form').serialize(),
        success: function(res) {
          $("input:checked").parent().parent().parent().fadeOut("slow", function() {
            $(this).remove();
          });
          restore_del();
          if( $('#masterpic>li').length < 2 && $('#drag_msg').is(':visible') )
            $('#drag_msg').fadeOut("slow");
        },
        error: function(xml, txt, err) {
          li.find('.propImg').attr('src','/img/ajax-loader.gif');
          restore_del();
          alert('error');
        } 
      }); 
    }
    
    working = false;
  });  

  $('#reorder').click( function(e) {
    e.preventDefault();
    
    if( working || !changed ) 
      return false;
    
    working = true;
    $("#masterpic").sortable("option", "disabled", working);
    
    $('a.uibutton').addClass('disable');
    
    var new_order = get_images_order();
    $('#wait').show();

    function reenable()
    {
      $('a.uibutton').removeClass('disable');
      $('#wait').hide();
      working = false;
      $("#masterpic").sortable("option", "disabled", working);
    }
    
    $.ajax({
      url:  '{{url_for('images/reorder')}}',
      type: "POST",
      data: {keys:new_order.join(',')},
      success: function(res) {
        reenable();
        saved_order = new_order;
        changed     = false;
        $('#reorder').addClass('disable');
        $("#masterpic").css('background-color','#FF5');
        $("#masterpic").animate({'background-color': '#FFF'},3000);
      },
      error: function(xml, txt, err) {
        reenable();
        alert('error');
      } 
    });
  });

  bind_pic_boxes();
  
  $("#masterpic").sortable({
    revert: true,
    start: function(event, ui) { 
      dragging = true;
    },
    stop: function(event, ui) { 
      changed = false;
      $("#masterpic>li").each( function(i, field) {
        if( saved_order[i] != $(field).attr('key') )
        {
          changed = true;
          return !changed;
        }
      });
      
      if( changed )
        $('#reorder').removeClass('disable');
        
      dragging = false;
    }
  });
	
  $( "ul, li" ).disableSelection();

  swfu = new SWFUpload({
    file_post_name         : "file",
    flash_url              : "/js/swfupload.swf",
    upload_url             : "{{url_for('images/upload', key=key)}}",
    file_size_limit        : "10 MB",
    file_types             : "*.jpg;*.png",
    file_types_description : "Archivos de imágenes",
    file_upload_limit      : 30,
    file_queue_limit       : 0,
    debug                  : false,

    button_image_url       : "/img/backgrounds/btnupload.png",
    button_width           : "167",
    button_height          : "40",
    button_placeholder_id  : "addphoto",
    
    swfupload_load_failed_handler : function() { 
      alert('error cargando flash');
    },
    
    file_queued_handler           : function(file) {
      var el = $('#masterrow').clone().appendTo('#filelist');
      $(el).find(".filename").html(file.name);
      $(el).find(".size").html(bytesToSize(file.size));
      $(el).attr('id',file.id);
      $(el).show();      
    },
    
    file_queue_error_handler      : function(file, errorCode, message) {
      alert('error:' + errorCode + '->' + message);
    },
    
    file_dialog_complete_handler  : function(numFilesSelected, numFilesQueued) {
      if( numFilesSelected > 0 ) {
        $("#uploader").show();
        this.startUpload();
      }
    },
    
    upload_progress_handler       : function(file, bytesLoaded, bytesTotal) {
      var percent = Math.ceil((bytesLoaded / bytesTotal) * 100);
      update_percent('#' + file.id, percent + '%');
    },
    
		upload_error_handler          : function(file, errorCode, message){
      alert('error:' + errorCode + '->' + message);
    },
    
    upload_success_handler        : function(file, serverData) {
      update_percent('#' + file.id, '100%');
      if(serverData)
      {
        $('div.noelement').remove();
        
        $('#' + file.id).fadeOut("slow", function() {
            $(this).remove();
            
            if ( $('#filelist>tr').length == 1 )
              $("#uploader").hide();
        });
        
        $('#masterpic').append(serverData);
        bind_pic_boxes();
        
        if( $('#masterpic>li').length > 1 && !$('#drag_msg').is(':visible') )
          $('#drag_msg').fadeIn("slow");
      }
      this.startUpload();
    },
    
    upload_complete_handler       : function(file) {
      //alert('cuando se llama esto??');
    },
  });
  
  if( $('#masterpic>li').length > 1 ) 
    $('#drag_msg').show();

});
  

</script>
{% endblock %}

{% block tab_content %}
<h2 class="title">
	Fotos
</h2>

<div class="uibutton-toolbar picture" style="margin-bottom:0px;">
    <span class="label">Seleccionar:</span>
    <div class="uibutton-group">
        <a id="selectall" class="uibutton" href="#">Todo</a>
        <a id="deselectall"class="uibutton" href="#">Nada</a>
    </div>
    <a id="delselected" class="uibutton" href="#">Eliminar</a>
    <a id="reorder" class="uibutton disable" href="#">Reordenar</a>
    <img id="wait" src="/img/ajax-loader.gif" style="display:none"/>    
</div>
    
<div class="viewPicBox">
  <form action="{{url_for('images/bulkremove', key=key)}}" method="POST">
  <ul id="masterpic" class="picturebox_admin">
  <p id="drag_msg" class="msg_warning" style="display:none">Para cambiar el orden de aparición, arrastre las imágenes y luego haga click en "Reordenar" para guardar los cambios.</p>
  {% for image in images %}
    {% if image.file %}
      {% include "backend/includes/img_box.html" %}
    {% endif %}
  {% else %}
    <div class="noelement proplist txt"><span>No hay fotografías cargadas para esta propiedad</span></div> 
  {% endfor %}
  </ul>
  </form>
</div>

<span id="addphoto"></span>
<!--<div id="addphoto" class="btnUpload"><a href="#"></a>Agregar Fotos</div>-->

<!-- ///// UPLOADER ///// -->
<table id="uploader" style="display:none">
  <thead>
    <tr>
      <th scope="col">Nombre de archivo</th>
      <th scope="col">Tamaño</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody id="filelist">
    <tr id="masterrow" style="display:none">
      <td class="filename">NOMBRE</td>
      <td class="size">TAMANO</td>
      <td class="status">
      	<table> 
            <tbody>  
                <tr>  
                    <td>
                    	<div class="progressbar">
                    		<div class="point" style="width:0%;"></div>
                		</div>
                    </td>
                    <td class="percent">0%</td> 
                    <td class="buttons"><!--<img src="/img/icons/delete.gif" />--></td>  
                </tr>  
            </tbody> 
        </table> 
      </td>
    </tr>
  </tbody>
</table>
<div>
  <ul class="uploader">
    <li class="filename"></li>
    <li class="size"></li>
    <li class="status"></li>
  </ul>
</div>
{% endblock %}