<!-- NAV PROP LIST-->
<div class="uibutton-toolbar picture">
    <div class="actions">
        <span class="label"><!--Acciones:--></span>
        <div class="uibutton-group">
            <!--a class="selall uibutton" href="#">Todo</a>
            <a class="dselall uibutton" href="#">Nada</a-->
        </div>
    </div>
       
    <ul class="uibutton-group navbar">
        <li class="prop_qty">
            <div><b>0 - 0 </b></div>
        </li>
        <li><a class="uibutton icon prev disable" href="#"></a></li>
        <li><a class="uibutton icon next disable" href="#"></a></li>
    </ul>
</div>