  {% set oper_id = form.prop_operation_id.data if form.prop_operation_id.data|string != '0' else property.prop_operation_id %}
  <div class="prop_box">
    <div class="location">
    	<p class="address">{{ property | addressify }}</p>
   		<a class="link" href="{{url_for('realestate/ficha', key=property.key()|string, oper=oper_id|string , realestate=realestate.key()|string)}}">Ver ficha &raquo;</a>
    </div>
    <ul class="data">
        <li class="picture">
            <!--wh="147,110"-->
            {% set image_src = property.main_image if property.main_image else '/img/picturebox/nophoto_150x113.jpg' %} 
            <a href="{{url_for('realestate/ficha', key=property.key()|string, oper=oper_id|string, realestate=realestate.key()|string)}}">
                <img class="pic" src="{{image_src}}" style="max-width:147px;max-height:110px;" onerror="this.src='/pics/small/sample1.jpg';" title="{{property|headlinify}}"/>
            </a> 
            <p class="pic_qty">{{ property.images_count|string + ' fotos' if property.images_count>0 else 'No hay imagenes'}}</p>
        </li>
        <li class="detail">
          <p class="headline">{{ property|headlinify }}, 
            {{ property | descriptify(cols=['rooms','bedrooms','bathrooms','area_indoor','area_outdoor'], total_area_included=True) }}</font>
          </p>

            <p class="price">
                <span class="label">Precio</span>
                <span class="value price">{{ property|pricefy(operation_type=oper_id, small=False) }}</span>
            </p>
            <p class="sup">
                <span class="label">Superficie Total</span>
                <span class="value sup">{{ property|totalareafy }}</span>
            </p>
            {% if oper_id|int == Property._OPER_RENT %}
            <p class="sup">
                <span class="label">Expensas</span>
                <span class="value sup">{{ property|expensasfy(operation_type=oper_id, small=False)}}</span>
            </p>
            {% endif %}
            
            <p class="detail">
              {{ property.main_description | truncate(172) }}
            </p>
        </li>
    </ul>
    
    <!--ul class="actions">
    	<li>&nbsp;<a href="#">Ver fotos</a></li>
      <li>&nbsp;<a href="#">Agregar a favoritos</a></li>
      <li style="float:right; font-weight:bold;">
        <a href="{# {url_for('realestate/ficha', key=property.key()|string, oper=form.prop_operation_id.data, realestate=realestate.key()|string)} #}">Ver ficha &raquo;</a>
      </li>
    </ul-->
    
</div>