{% import 'realestate/includes/_form_fields.html' as ff %}
<div id="searchbox_form_area">
  <form id="filter" method="POST" action="{{url_for('realestate/search', realestate=realestate.key()|string)}}">
  <input type="hidden" name="realestate_network" id="realestate_network" value="ALL"/>
  <div class="filters">
  	<!--h2>Buscador</h2-->
    <div class="location_box home">
      <p class="label" style="font-size:14px;">Ubicación</p>
      {{form.location_text(class='search big', placeholder='Calle, Barrio, Localidad')}}
    </div>
    <div>
      <ul class="property_type">
        <li>
          <div class="divider_h"></div>
          {{ff.simple_field(form.prop_type)}}
        </li>
        <li>
          <div class="divider_h"></div>
          {{ff.simple_field(form.prop_operation_id)}}
          
        </li>
        <li>
          <div id="cosas" {% if form.prop_operation_id.data == 0 %} style="display:none;" {% endif %}>
            <div class="divider_h"></div>
            {{ff.simple_field(form.currency)}}
          </div>
        </li>
        <li>
          <div id="cosas" {% if form.prop_operation_id.data == 0 %} style="display:none;" {% endif %}>
            <div class="divider_h"></div>
            {{ff.simple_field_pair(form.price_min, form.price_max)}}
          </div>
        </li>
        
        <li>
          <div class="divider_h"></div>
          <p class="label">Dormitorios</p>
          {{form.bedrooms}}
        </li>
        <li>
          <div class="divider_h"></div>
          <p class="label">Ambientes</p>
          {{form.rooms}}
        </li>
        <li>
          <div class="divider_h"></div>
          <p class="label">Superficie Cub.</p>
          {{form.area_indoor}}
        </li>
        <li>
          {{form.sort(style='display:none')}}
        </li>
        <li>
          <div class="divider_h"></div>
          <!-- a id="apply" href="#" onclick="$('#filter').submit();" style="float:right;margin:11px 27px 0px 0px;" class="lightblue_border">Buscar</a-->
          <a id="apply" href="#" onclick="$('#filter').submit();" style="float:right;margin-right:27px;" class="uibutton special submit home">Buscar</a>
        </li>
      </ul>
        
        <div class="divider_h"></div>
     
        {{form.search}}
     </div>   
        
        
    </div>
  </form>
</div>


