<div id="gallery" class="ad-gallery">
  <div class="ad-image-wrapper"></div>
  <div class="ad-controls"></div>
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
        {% for img in images %}
          {% if img.title %}
          <li>
            <a href="{{img.title}}" wh="625,469">
            <div id="imgbox" style="display: table-cell; vertical-align: middle; text-align:center; height:63px">  
              <img id="image_{{loop.index}}" src="{{img.title}}=s63-c" style="max-width:83px;max-height:63px;" wh="83,63" title="" class="popupimg class{{loop.index}}"> 
            </div>   
            </a>
          </li>
          {% endif %}
        {% else %}
          <li class="nophoto">
            <a href="/img/picturebox/nophoto_322x242.jpg"> 
              <img id="image_no" src="/img/picturebox/nophoto_115x86.jpg" />
            </a>
          </li>
        {% endfor %}
          
        
      
      </ul>
    </div>
  </div>
</div>