<!-- NEWS MODULE-->
<dl class="news">
    <dt>
        <p class="day">04</p>
        <p class="month">Abril</p>
    </dt>
    <dd>
        <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
        <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. <a href="#">más &raquo;</a></p>
    </dd>
</dl>

<dl class="news">
    <dt>
        <p class="day">04</p>
        <p class="month">Abril</p>
    </dt>
    <dd>
        <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
        <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. <a href="#">más &raquo;</a></p>
    </dd>
</dl>