<!-- /// PROPERTY HOME MODULE/// -->
<div class="grid_2 property_box {{last}}">
    <h5>{{ property|addressify }}</h5>
    <div class="pic" style="width:142px;height:142px;position:relative;clear:both;display: table-cell;vertical-align: middle;">
      <img {% if property.main_image_url %} src="{{property.main_image_url}}=s150" {% else %} src="/img/picturebox/nophoto_80x60.jpg"  {% endif %} style="width:142px;"  title="{{property|headlinify}}"/>
    </div>
    <div class="price_box">
        <p class="price"><span class="label">Precio</span><span class="value price">{{property|pricefy}}.-</span></p> 
        <p class="price"><span class="label">Superficie</span><span class="value">{{ property|totalareafy }}</span></p> 
    </div>
    <p class="detail">
    {{ property.main_description}} <br />
    {{property | descriptify(cols=['rooms','bedrooms','bathrooms','area_indoor'], small=True, total_area_included=True) }}
    </p>
    <a class="btnMore" style="float:right;" href="{{url_for('realestate/ficha', key=property.key()|string, oper=property.prop_operation_id|string, realestate=realestate.key()|string)}}" title="Ver ficha de la propiedad">Ver ficha</a>
     
</div>