<!-- /// PROPERTY HOME MODULE/// -->
<div class="grid_2 property_box">
    <h5>Belgrano</h5>
    <p class="location">3600 Av. Scalabrini Ortiz</p>
    <img class="pic" src="/re/img/property/sample1.jpg" />
    <div class="price_box">
        <p class="price"><span class="label">Precio</span><span class="value price">U$S 1.630.000.-</span></p> 
        <p class="price"><span class="label">Superficie</span><span class="value">350 m2</span></p> 
    </div>
    <p class="detail">
    Duplex. Living. Comedor. 3 dormitorio(s) 2 en suite, 1 suite con vest. 4 baño(s) 1 toilette(s).Habitación de servicio. 1 cochera(s). En semitorre. Al frente. S/av. principal. Reciclado. Luminoso. Impecable. 
    </p>
    <input class="btnMore" name="" type="submit" value="más información" />
</div>

<div class="grid_2 property_box">
    <h5>Belgrano</h5>
    <p class="location">3600 Av. Scalabrini Ortiz</p>
    <img class="pic" src="/re/img/property/sample1.jpg" />
    <div class="price_box">
        <p class="price"><span class="label">Precio</span><span class="value price">U$S 1.630.000.-</span></p> 
        <p class="price"><span class="label">Superficie</span><span class="value">350 m2</span></p> 
    </div>
    <p class="detail">
    Duplex. Living. Comedor. 3 dormitorio(s) 2 en suite, 1 suite con vest. 4 baño(s) 1 toilette(s).Habitación de servicio. 1 cochera(s). En semitorre. Al frente. S/av. principal. Reciclado. Luminoso. Impecable. 
    </p>
    <input class="btnMore" name="" type="submit" value="más información" />
</div>

<div class="grid_2 property_box last">
    <h5>Belgrano</h5>
    <p class="location">3600 Av. Scalabrini Ortiz</p>
    <img class="pic" src="/re/img/property/sample1.jpg" />
    <div class="price_box">
        <p class="price"><span class="label">Precio</span><span class="value price">U$S 1.630.000.-</span></p> 
        <p class="price"><span class="label">Superficie</span><span class="value">350 m2</span></p> 
    </div>
    <p class="detail">
    Duplex. Living. Comedor. 3 dormitorio(s) 2 en suite, 1 suite con vest. 4 baño(s) 1 toilette(s).Habitación de servicio. 1 cochera(s). En semitorre. Al frente. S/av. principal. Reciclado. Luminoso. Impecable. 
    </p>
    <input class="btnMore" name="" type="submit" value="más información" />
</div>