<!-- PROPERTIES -->
<dl class="properties">
    <dt class="price">Precio:</dt>
    <dd class="price">U$S 1.350.000-</dd>
    
    <dt class="act">Expensas:</dt>
    <dd class="act">98 <span class="mth">/mens</span></dd>
    
    <dt>Sup. Total:</dt>
    <dd>351 m²</dd>
    
    <dt class="alt">Sup. Cubierta:</dt>
    <dd class="alt">264,28 m²</dd>
    
    <dt>Sup. Desc.:</dt>
    <dd>179,75 m²</dd> 
    
    <dt class="alt">Habitaciones:</dt>
    <dd class="alt">2</dd>
    
    <dt>Baños</dt>
    <dd>2</dd>
    
    <dt class="alt">Tipo:</dt>
    <dd class="alt"><span>Unifamiliar</span></dd>
    
    <dt>Antigüedad</dt>
    <dd><span>A estrenar</span></dd>
</dl>  

<!-- LOGO / BTN CONTACT -->
<div class="agent">
    <input class="btnContact" name="" type="button" value="Contactar Agente" />
</div>
                        
