<div id="gallery" class="ad-gallery">
  <div class="ad-image-wrapper"></div>
  <div class="ad-controls"></div>
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" class="image0">
          </a>
        </li>
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" title="Foto 2" alt="This is a nice, and incredibly descriptive, description of the image 2.jpg" class="image6">
          </a>
        </li>
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" title="Foto 3" alt="This is a nice, and incredibly descriptive, description of the image 3.jpg" class="image7">
          </a>
        </li>
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" class="image0">
          </a>
        </li>
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" title="Foto 2" alt="This is a nice, and incredibly descriptive, description of the image 2.jpg" class="image6">
          </a>
        </li>
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" title="Foto 3" alt="This is a nice, and incredibly descriptive, description of the image 3.jpg" class="image7">
          </a>
        </li>
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" class="image0">
          </a>
        </li>
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" title="Foto 2" alt="This is a nice, and incredibly descriptive, description of the image 2.jpg" class="image6">
          </a>
        </li>
        <li>
          <a href="/re/pics/big/sample1.jpg">
            <img src="/re/pics/small/sample1.jpg" title="Foto 3" alt="This is a nice, and incredibly descriptive, description of the image 3.jpg" class="image7">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>