    <div class="compare_box">
      <div class="head">
          <div class="letter">A</div>
          <div class="address"><a href="detail.php">3600 Av. Scalabrini Ort...</a></div>
          <div class="close"></div>
      </div>
      
      <div class="picturebox">
          <!-- BOTONES SLIDE PHOTO -->
          <div class="buttonsSlide">
              <input class="btnSlide prev" name="" type="button" />
              <input class="btnSlide next" name="" type="button" />
          </div>
      
<!-- BOX PHOTO -->
        <div class="picbox">
              <img class="thumblnk" src="/pics/meddium/sample1.jpg" width="190" />
              <div class="qty">foto 3 de 15</div>
          </div>
      </div> 
         
      <!-- PRICE -->
      <div class="subhead">
          <div class="type">Venta</div>
          <div class="price">U$S 550.000</div>
      </div>
      
      <!-- LOGO -->
      <div class="logo"><img src="/img/logos/sample1.gif" /></div>
      
      <!-- PROPERTIES -->
      <dl class="properties">
          <dt>Precio:</dt>
          <dd>U$S 1.350.000-</dd>
          
          <dt class="act">Expensas:</dt>
          <dd class="act">98<span>/mens</span></dd>
          
          <dt>Sup. Total:</dt>
          <dd>351m²</dd>
          
          <dt class="alt">Sup. Cubierta:</dt>
          <dd class="alt">264,28m²</dd>
          
          <dt>Sup. Desc.:</dt>
          <dd>179,75m²</dd> 
          
          <dt class="alt">Habitaciones:</dt>
          <dd class="alt">2</dd>
          
          <dt>Baños</dt>
          <dd>2</dd>
          
          <dt class="alt">Tipo:</dt>
          <dd class="alt">Unifamiliar</dd>
          
          <dt>Antigüedad</dt>
          <dd>A estrenar</dd>
       </dl>  
        
          <div class="extra">
          <p>Extras:</p>
          Cochera, Balcóm, pileta, pisos de parquet, parrilla, Cochera, Balcóm, pileta, pisos de parquet, parrilla.</div>
    </div>