
        <div id="footer">
          {% if footer_extended==1 %} 
            <div class="top_search">
              <h3>Sugerencias de Búsquedas de Propiedades:</h3>
              <div>
              <ul class="lnk_search">
                <div style="padding-bottom:8px;">Por tipo de propiedad, operación y zona, publicadas por las <span style="font-weight:normal;">Inmobiliarias de Buenos Aires, Inmobiliarias Zona Norte e Inmobiliarias La plata</span></div>
                
               <li><a href="" title="Casa en venta en Capital Federal.">Casa en venta en Capital Federal.</a></li>
               <li><a href="" title="Casa en venta en Zona Norte.">Casa en venta en Zona Norte.</a></li>
               <li><a href="" title="Casa en venta en Zona Oeste.">Casa en venta en Zona Oeste.</a></li>
               <li><a href="" title="Casa en venta en Zona Sur.">Casa en venta en Zona Sur.</a></li>
               <li><a href="" title="Casa en venta en La Plata.">Casa en venta en La Plata.</a></li>
               <li><a href="" title="Casa en venta en City Bell.">Casa en venta en City Bell.</a></li>
               <li><a href="" title="Casa en venta en Gonnet.">Casa en venta en Gonnet.</a></li>
               <li><a href="" title="Casa en venta en Tolosa.">Casa en venta en Tolosa.</a></li>
               <li><a href="" title="Casa en venta en Ensenada.">Casa en venta en Ensenada.</a></li>
               <li><a href="" title="Casa en venta en Berisso.">Casa en venta en Berisso.</a></li>
               <li><a href="" title="Casa en venta en mar del plata.">Casa en venta en mar del plata.</a></li>
               <li><a href="" title="Casa en venta en costa atlántica.">Casa en venta en costa atlántica.</a></li>


               <li><a href="" title="Departamento en venta en Capital Federal.">Departamento en venta en Capital Federal.</a></li>
               <li><a href="" title="Departamento en venta en Zona Norte.">Departamento en venta en Zona Norte.</a></li>
               <li><a href="" title="Departamento en venta en Zona Oeste.">Departamento en venta en Zona Oeste.</a></li>
               <li><a href="" title="Departamento en venta en Zona Sur.">Departamento en venta en Zona Sur.</a></li>
               <li><a href="" title="Departamento en venta en La Plata.">Departamento en venta en La Plata.</a></li>
               <li><a href="" title="Departamento en venta en mar del plata.">Departamento en venta en mar del plata.</a></li>
               <li><a href="" title="Departamento en venta en costa atlántica.">Departamento en venta en costa atlántica.</a></li>



               <li><a href="" title="Casa en alquiler en Capital Federal.">Casa en alquiler en Capital Federal.</a></li>
               <li><a href="" title="Casa en alquiler en Zona Norte.">Casa en alquiler en Zona Norte.</a></li>
               <li><a href="" title="Casa en alquiler en Zona Oeste.">Casa en alquiler en Zona Oeste.</a></li>
               <li><a href="" title="Casa en alquiler en Zona Sur.">Casa en alquiler en Zona Sur.</a></li>
               <li><a href="" title="Casa en alquiler en La Plata.">Casa en alquiler en La Plata.</a></li>
               <li><a href="" title="Casa en alquiler en City Bell.">Casa en alquiler en City Bell.</a></li>
               <li><a href="" title="Casa en alquiler en Gonnet.">Casa en alquiler en Gonnet.</a></li>
               <li><a href="" title="Casa en alquiler en Tolosa.">Casa en alquiler en Tolosa.</a></li>
               <li><a href="" title="Casa en alquiler en Ensenada.">Casa en alquiler en Ensenada.</a></li>
               <li><a href="" title="Casa en alquiler en Berisso.">Casa en alquiler en Berisso.</a></li>
               <li><a href="" title="Casa en alquiler en mar del plata.">Casa en alquiler en mar del plata.</a></li>
               <li><a href="" title="Casa en alquiler en costa atlántica.">Casa en alquiler en costa atlántica.</a></li>

    
               <li><a href="" title="Departamento en alquiler en Capital Federal.">Departamento en alquiler en Capital Federal.</a></li>
               <li><a href="" title="Departamento en alquiler en Zona Norte.">Departamento en alquiler en Zona Norte.</a></li>
               <li><a href="" title="Departamento en alquiler en Zona Oeste.">Departamento en alquiler en Zona Oeste.</a></li>
               <li><a href="" title="Departamento en alquiler en Zona Sur.">Departamentos en alquiler en Zona Sur.</a></li>
               <li><a href="" title="Departamento en alquiler en La Plata.">Departamentos en alquiler en La Plata.</a></li>
               <li><a href="" title="Departamento en alquiler en City Bell.">Departamentos en alquiler en City Bell.</a></li>
               <li><a href="" title="Departamento en alquiler en Gonnet.">Departamentos en alquiler en Gonnet.</a></li>
               <li><a href="" title="Departamento en alquiler en Tolosa.">Departamentos en alquiler en Tolosa.</a></li>
               <li><a href="" title="Departamento en alquiler en Ensenada.">Departamentos en alquiler en Ensenada.</a></li>
               <li><a href="" title="Departamento en alquiler en Berisso.">Departamentos en alquiler en Berisso.</a></li>
               <li><a href="" title="Departamento en alquiler en mar del plata.">Departamentos en alquiler en mar del plata.</a></li>
               <li><a href="" title="Departamento en alquiler en costa atlántica.">Departamentos en alquiler en costa atlántica.</a></li>
                <!--li><a href="/mapa/casas-en-venta-en-la-plata/73007"> Casas en Venta en La Plata </a></li>
                <li><a href="/mapa/casas-en-venta-en-gonnet/73006"> Casas en Venta en Gonnet </a></li>
                <li><a href="/mapa/casas-en-venta-en-city-bell/40020"> Casas en Venta en City Bell</a></li>
                <li><a href="/mapa/casas-en-venta-en-tolosa-y-ringuelet/72007" title="Casas en Venta en Tolosa y Ringuelet">Casas en Venta en Tolosa</a></li>
                
                <li><a href="/mapa/departamentos-en-venta-en-zona-norte/72008"> Departamentos en Venta en Zona Norte</a></li>
                <li><a href="/mapa/departamentos-en-venta-en-la-plata/74002"> Departamentos en venta en La Plata</a></li>
                <li><a href="/mapa/departamentos-en-venta-en-gonnet/74003"> Departamentos en Venta en Gonnet </a></li>
                <li><a href="/mapa/departamentos-en-venta-en-city-bell/54106"> Deptos. en Venta en City Bell</a></li>
                <li><a href="/mapa/departamentos-en-venta-en-tolosa-y-ringuelet/54105" title="Departamentos en Venta en Tolosa y Ringuelet">Departamentos en Venta en Tolosa</a></li>
                <li><a href="/mapa/departamentos-en-alquiler-en-la-plata/40019" title="Departamentos en Alquiler en La Plata"> Deptos. en Alquiler en La Plata </a></li>
                <li><a href="/mapa/departamentos-en-alquiler-en-gonnet/76004" title="Departamentos en Alquiler en Gonnet"> Deptos. en Alquiler en Gonnet </a></li>
                <li><a href="/mapa/departamentos-en-alquiler-en-city-bell/76003" title="Departamentos en Alquiler en City Bell"> Deptos. en Alquiler en City Bell</a></li>
                <li><a href="/mapa/departamentos-en-alquiler-en-tolosa-y-ringuelet/76005" title="Departamentos en Alquiler en Tolosa y Ringuelet"> Deptos. en Alquiler en Tolosa</a></li>
                <li><a href="/mapa/locales-y-oficinas-en-venta-en-la-plata/40021"> Locales y Oficinas en Venta en La Plata </a></li>
                <li><a href="/mapa/locales-en-alquiler-en-city-bell/73008"> Locales en Alquiler en City Bell </a></li>
                <li><a href="/mapa/casas-en-venta-en-zona-norte/75003"> Casas en Venta en Zona Norte</a></li-->
                
              </ul>
              
              <br />
              <br />
              
              
      <h3 class="line_divider">Búsquedas por Barrios de Capital Federal</h3>
				<div>                                                                                                 
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-abasto-es_AR.html">Abasto</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-agronomia-es_AR.html">Agronomia</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-almagro-es_AR.html">Almagro</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-balvanera-es_AR.html">Balvanera</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-barracas-es_AR.html">Barracas</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-barrio-norte-es_AR.html">Barrio Norte</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-belgrano-es_AR.html">Belgrano</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-boedo-es_AR.html">Boedo</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-caballito-es_AR.html">Caballito</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-chacarita-es_AR.html">Chacarita</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-coghlan-es_AR.html">Coghlan</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-colegiales-es_AR.html">Colegiales</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-constitucion-es_AR.html">Constitucion</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-flores-es_AR.html">Flores</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-floresta-es_AR.html">Floresta</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-la-boca-es_AR.html">La Boca</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-liniers-es_AR.html">Liniers</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-mataderos-es_AR.html">Mataderos</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-micro-centro-es_AR.html">Micro Centro</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-monserrat-es_AR.html">Monserrat</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-monte-castro-es_AR.html">Monte Castro</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-nueva-pompeya-es_AR.html">Nueva Pompeya</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-nunez-es_AR.html">Nuñez</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-palermo-es_AR.html">Palermo</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-palermo-viejo-es_AR.html">Palermo Viejo</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-parque-avellaneda-es_AR.html">Parque Avellaneda</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-parque-chacabuco-es_AR.html">Parque Chacabuco</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-parque-patricios-es_AR.html">Parque Patricios</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-paternal-es_AR.html">Paternal</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-puerto-madero-es_AR.html">Puerto Madero</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-recoleta-es_AR.html">Recoleta</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-retiro-es_AR.html">Retiro</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-saavedra-es_AR.html">Saavedra</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-san-cristobal-es_AR.html">San Cristobal</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-san-nicolas-es_AR.html">San Nicolas</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-san-telmo-es_AR.html">San Telmo</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-velez-sarsfield-es_AR.html">Velez Sarsfield</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-versalles-es_AR.html">Versalles</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-crespo-es_AR.html">Villa Crespo</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-del-parque-es_AR.html">Villa del Parque</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-devoto-es_AR.html">Villa Devoto</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-general-mitre-es_AR.html">Villa General Mitre</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-lugano-es_AR.html">Villa Lugano</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-luro-es_AR.html">VillaLuro</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-ortuzar-es_AR.html">Villa Ortuzar</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-pueyrredon-es_AR.html">Villa Pueyrredon</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-real-es_AR.html">Villa Real</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-riachuelo-es_AR.html">Villa Riachuelo</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-santa-rita-es_AR.html">Villa Santa Rita</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-soldati-es_AR.html">Villa Soldati</a>,
         <a href="http://capital-federal.ultraprop.com.ar/propiedades-villa-urquiza-es_AR.html">Villa Urquiza</a>.     
      </div>
      
      <br />
      <br />
      <h3 class="line_divider">Publicar Propiedades</h3>
      <h4>Inmobiliarias</h4>
      <p class="nlk">
      Publique sus propiedades en Alquiler y Venta de la forma más simple, nuestro sistema de administración web es muy fácil, dinámico e intuitivo. Conozca las <a href="http://inmobiliarias.ultraprop.com.ar/inmobiliarias">Inmobiliarias de Buenos Aires</a> e <a href="http://inmobiliarias.ultraprop.com.ar/inmobiliarias">Inmobiliarias de La Plata</a> que ya están publicando. </p>
      
      
      <br />
      <br />
      
      
      <h4>Dueños Directo</h4>
      <p class="nlk">
      Hemos desarrollado un sistema independiente para <a href="http://www.directodueno.com" title="www.directodueno.com">dueños directos</a>, para aquellas personas que desean publicar sus <a href="#">Propiedades en Venta</a> y <a href="#">Propiedades en Alquiler</a> en la modalidad <a href="http://www.directodueno.com" title="www.directodueno.com">directo dueño</a>. Publicá gratis tu aviso clasificado en <a href="http://www.directodueno.com" title="www.directodueno.com" target="_blank">www.directodueno.com</a></p>
      
      
      <br />
      <br />
              
              
      <h3 class="line_divider">Información del Sector Inmobiliario de Capital Federal y Gran Buenos Aires</h3>
      <p class="nlk">
      El crecimiento del sector inmobiliario atrajo la inversión de capitales locales y extranjeros que buscan invertir en propiedades ubicadas en los principales puntos neurálgicos de <a href="#">Capital Federal</a>, <a href="#">Gran Buenos Aires</a> y <a href="#">La Plata</a>, la escasa oferta no logra satisfacer la demanda existente de <a href="#">inmuebles y propiedades</a>, por consecuente el auge de la construcción de edificios de <a href="#">departamento</a> se hace más notorio día a día en la <a href="#">Capital Federal</a>,<a href="#"> Zona Norte</a> y <a href="#">La Plata</a>. En barrios como:<br />
      <a href="#">Abasto</a>, <a href="#">Barrio Norte</a>, <a href="#">Belgrano</a>, <a href="#">Micro Centro</a>, <a href="#">Nuñez</a>, <a href="#">Palermo</a>, <a href="#">Recoleta</a>, <a href="#">San Telmo</a>, <a href="#">Pilar</a>, <a href="#">San Isidro</a>, <a href="#">Tigre</a>, <a href="#">Vicente López</a>, <a href="#">La Lucila</a> y <a href="#">San Fernando</a>, es cada vez más importante su acelerado crecimiento. </p>
        
        

              
              </div>
            </div>
          {% endif %} 
          <p class="skill">ULTRAPROP es el portal inmobiliario líder en oferta de <a href="#">inmuebles en La Plata</a>, <a href="#">Gran La Plata</a> y <a href="#">Buenos Aires Zona Norte</a>.
            ULTRAPROP es la primer aplicación web en utilizar un sistema de Geolocalización Real en Latinoamérica, esto quiere decir que con sólo ubicar 
            una zona en el mapa, automáticamente se muestra la oferta de propiedades disponible.<br/> 
            Encuentre la mayor oferta de propiedades filtradas por <a href="#">venta y alquiler de departamentos</a>, <a href="#">casas</a>, <a href="#">PH</a>, <a href="#">oficinas</a>, <a href="#">locales comerciales</a>, <a href="#">fondos de comercio</a>, <a href="#">galpones</a>, <a href="#">consultorios</a>, <a href="#">casa en country</a> o<a href="#"> barrio privado</a>, <a href="#">quintas</a>, <a href="#">lotes y terrenos</a>, <a href="#">cocheras</a> y mucho más. <br> 
          En ULTRAPROP solamente hay que seleccionar la zona de interés en el mapa para conocer la oferta disponible de <a href="#">casas en alquiler</a>, <a href="#">casas en venta</a>, <a href="#">departamentos en alquiler en La Plata</a>, <a href="#">terrenos en Gonnet</a>, <a href="#">terrenos en City Bell</a>, <a href="#">casas en Zona Norte</a>, <a href="#">Vicente López</a>, <a href="#">Florida</a>, <a href="#">Olivos</a>, <a href="#">La Lucila</a>, <a href="#">Martínez</a>, <a href="#">Acasusso</a>, <a href="#">San Isidro</a> y mucho más. </p>
          <!-- Foot -->
          <div class="foot">
            <img class="logo_foot" src="/img/pixel-transp.gif" alt="Ultraprop" />
            <p>El uso de este sitio web implica la aceptación de los <a href="{{url_for('frontend/terms')}}">Términos y Condiciones y la Política de Privacidad de ultraprop.com.ar</a>.<br/>
            Copyright © 2011 - Todos los derechos reservados. Protección de Datos Personales.</p>       
          </div>
        </div>