<ul class="mnuTop"> 
    <!-- ///// INICIO ///// -->
    {% if in_map is defined %}
    <!--li><a href="{{ url_for('frontend/home') }}" title="Inicio">Inicio</a></li-->
    {% endif %}
    
	<!-- ///// PUBLICAR ///// -->
{% if in_map is not defined %}
	{% if is_logged is defined and is_logged %}
    	<li class="btnLight"><a href="{{ url_for('property/list') }}" title="Publicar propiedades">Publicar propiedades</a></li>
    {% else %}
    	<li class="btnLight"><a href="{{ url_for('backend/auth/login') }}" title="Publicar propiedades">Publicar propiedades</a></li>
    {% endif %}
    
    <li style="border-left:none;"><a href="mailto:ayuda@ultraprop.com.ar" title="Ayuda">Ayuda</a></li>
    
    <!--li><a href="http://www.youtube.com/watch?v=QTIXl9ZKyUs" onclick="jQuery('#help_video').show(); return false;" title="Ver video de ayuda">Video</a></li-->
{% endif %}
    
</ul>