  <!-- New propaganda divs!!! -->
  <div id="flyer_propaganda" style="position:absolute;left:50%;margin-left:-250px;top:100%;margin-top:-250px;z-index: 98;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; width: 500px;border: 1px solid #63A23C;height:150px;background:#FFFFFF url('/img/backgrounds/propaganda_bg.png') center center no-repeat;/*background-color:#FFFFFF;*/">
    <a onclick="$('#flyer_propaganda').hide();$('#show_flyer_propaganda').show();" href="#" class="ui-dialog-titlebar-close ui-corner-all" style="float:right;margin-top:4px;margin-right:4px;" role="button" title="Cerrar">
      <span class="ui-icon ui-icon-closethick">close</span>
    </a>
  </div>
  <div  id="show_flyer_propaganda" style="display:none;position:absolute;left:10px;top:100%;margin-top:-90px;z-index: 98;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; width: 60px;border: 1px solid #63A23C;height:50px;background:transparent url('/img/backgrounds/propaganda_info.png') center center no-repeat; ">
    <a onclick="$('#show_flyer_propaganda').hide();$('#flyer_propaganda').show();" href="#" title="Ver publicidad" style="display:block;height:100%;" > <!-- class="ui-dialog-titlebar-close ui-corner-all" style="float:right;margin-top:4px;margin-right:4px;" role="button" -->
      <!-- span class="ui-icon ui-icon-tag">mostrar</span -->
    </a>
  </div>