<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ULTRAPROP</title>
  <style type="text/css"></style></head>
  <body style="font-family:Arial, Helvetica, sans-serif; background:#ffffff;">
    <table width="100%" border="0">
      <tr>
        <td style="border-bottom:solid 1px #99cc33; padding:10px 20px; padding-top:5px;"><img src="http://www.ultraprop.com.ar/img/email/ultraprop.gif" width="180" height="49">
        </td>
      </tr>
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; padding:20px;">
    
    <h1>Asunto: Recordatorio de pago</h1>
    
<p style="font-size:13px; margin-bottom:20px;">
Hola <span style="color:#ff0000;">"Nombre de Inmobiliaria"</span>,
Queremos recordarte que tu factura <span style="color:#ff0000;">"Número factura"</span> disponible en   <a href="http://www.ultraprop.com.ar/admin/account/status">http://www.ultraprop.com.ar/admin/account/status</a> aún no fue abonada y vencerá el día <span style="color:#ff0000;">11/10/2011</span>. Recordá que transcurridos los <span style="color:#ff0000;">30</span> días de la fecha de vencimiento, tu cuenta será temporalmente suspendida.
<br /><br />
Si precisás que extendamos el vencimiento de la factura, escribinos respondiendo a éste correo.
<br /><br />
<span style="color:#ff0000;">Nombre del plan (11/10/2011 - 10/11/2011) $120,00 ARS</span>
<br />
------------------------------------------------------
<br />
Sub Total: $120,00 ARS
<br />
Total: $120,00 ARS
<br />
En el caso de que ya hayas realizado el pago y transcurrieron más de 48 horas hábiles (demora aproximada en acreditarse un pago), avisanos para verificarlo de inmediato.
<br />
------------------------------------------------------
<br />
ULTRAPROP - Sistema Inmobiliario
</p>

      <p style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Para mayor información comuníquese telefónicamente al <b>0221 466-0162</b>, en Cap. Fed. al <b>011 4857-9235</b> o vía email a <a href="mailto:info@ultraprop.com.ar">info@ultraprop.com.ar</a></p>
    </td>
  </tr>
      <tr>
        <td style="font-size:10px; color:#cccccc; font-family:Arial, Helvetica, sans-serif; padding:20px;">
          <p style="font-size:10px; color:#cccccc;">Por favor, no responda a este mensaje; fue enviado desde una cuenta de correo electrónico no monitoreada. Este mensaje es un correo electrónico relacionado con el uso de  ULTRAPROP. Para peticiones generales o solicitar soporte para tu cuenta de ULTRAPROP, por favor contactanos en <a href="mailto:ayuda@ultraprop.com.ar" style="font-size:10px; color:#0033ff; font-family:Arial, Helvetica, sans-serif;">Soporte ULTRAPROP.</a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>